/* Custom Sidebar Styling */
.sidebar {
    width: 250px;
    min-height: 100vh;
}

#page-content-wrapper {
    flex: 1;
}

/* Custom button styling for toggle */
#menu-toggle {
    font-size: 1.2rem;
    border: none;
}

.primary-text {
    color: #ffc107;
}
